<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<head>
  <link rel="stylesheet" type="text/css" href="./style/style.css">
</head>

<body>

  <div ng-app="myApp" ng-controller="myCtrl" ng-init="ngInit='content of ng-init'">
    <p>basic expression example: -> {{ firstname + " " + lastname}} <- initialized in controller myCtrl</p> <p>ng-model
        input example: <input type="text" ng-model="ngModel"></p>
    <p>ng-model output: {{ngModel}}</p>
    <p>ng-init example: {{ngInit}}</p>

    <div ng-init="divInit='model initialized in div declaration'">
      <p>{{divInit}}</p>
    </div>

    <div ng-controller="bindingCtrl">
      <p>Two-Way binding example with controller and ng-model through input: <input type="text" ng-model="myModel"></p>
      <p ng-bind="myModel"></p>
      <p>{{myModel}}</p>
      <button type="button" ng-click="buttonEvent()">Click Me!</button>
      <p ng-click="buttonEvent()">click this text</p>
    </div>

    <div ng-controller="functionCtrl">
      <p>first number: <input type="number" ng-model="firstNum"></p>
      <p>second number: <input type="number" ng-model="secondNum"></p>
      <p>{{ctrlFunction()}}</p>
    </div>

    <form name="myForm">
      <p>input validation with ng-model example</p>
      <p>e-mail: <input type="email" name="email" ng-model="email"></p>
      <span ng-show="myForm.email.$error.email">Not a valid e-mail address</span>
      <p>showing status of application data example</p>
      <p>valid: {{myForm.email.$valid}}</p>
      <p>dirty: {{myForm.email.$dirty}}</p>
      <p>touched: {{myForm.email.$touched}}</p>
    </form>

    <div ng-init="arrayInit=['item1', 'item2', 'item3']">
      <p>ng-repeat example of arrayInit model in ng-init directive</p>
      <ul>
        <li ng-repeat="item in arrayInit">{{item}}</li>
      </ul>
    </div>

    <div ng-init="personArray=
    [{name:'esad', age:'24', favoriteColor:'blue'},
    {name:'jakob', age:'21', favoriteColor:'yellow'}, 
    {name: 'dominik', age:'25', favoriteColor:'green'}]">

      <p>ng-init with object array and ng-repeat that iterates through object and it's properties</p>
      <ol ng-repeat="person in personArray">
        <li>name: {{person.name}}, age: {{person.age}}, favorite color: {{person.favoriteColor}}</li>
      </ol>

    </div>
    <p>custom directive with element name </p>
    <div my-directive></div>
    <p>custom directive with attribute</p>
    <my-directive></my-directive>

    <p>custom filter example, filter declared in app.sj, and controller in controller.js:</p>
    <ul ng-controller="namesCtrl">
        <li ng-repeat="x in names">
            {{x | myFormat}}
        </li>
    </ul>

    <p>filter usage, order list alphabetically example. Filter can be used in ng-repeat directive or expression.</p>
    <ul ng-controller="namesCtrl">
      <li ng-repeat="x in names | orderBy">{{x}}</li>
    </ul>
  </div>

  <script src="./js/app.js"></script>
  <script src="./js/controller.js"></script>

</body>

</html>